on:
   workflow_dispatch:
   push:
      tags:
         - '*'
   
jobs:
   update_readme:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         - name: Get Youtube Videos
           uses: pmqueiroz/readme-last-youtube-videos@v1.1.3
           env:
              YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
           with:
              channel_id: "UUX6OQ3DkcsbYNE6H8uQQuVA"
              output_file: "EXAMPLE.md"
           uses: actions-js/push@master
           with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
        
